{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} 
{{ super() }}
Article detail 
{% endblock %}

{% block body %}
<h2 class="text-center">Article detail</h2>
<div class="card">
  <img src="..." class="card-img-top" alt="" />

  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.text }}</p>
    <a
      href="{{ url_for('user.user_detail', pk=article.author.user_id ) }}"
      class="btn btn-primary"
      >Author: {{ article.author.user.first_name }} {{
      article.author.user.last_name }}</a
    >
    <!-- prettier-ignore -->
    {% if article.tags %}
    <div>Tags:</div>
    <ul>
      {% for tag in article.tags %}
      <a href="{{ url_for('article.articles_by_tag', tag=tag.name ) }}"
        ><span class="badge text-bg-dark">{{ tag.name }}</span></a
      >
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
