{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} 
{{ super() }}
Users list 
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center">Users</h1>
  {% for user in users %}
  <div class="row">
    <div class="col">
      <a
        href="{{ url_for('user.user_detail', pk=user.id) }}"
        class="btn btn-outline-secondary mb-3"
        role="button"
        >{{ user.email }}</a
      >

      <!-- prettier-ignore -->
      {% endfor %}
    </div>

    {% endblock %}
  </div>
</div>
